
<h1 class="text-center">Clientes</h1>
<div class="container">
<table class="table table-bordered table-striped table-hover table-sm">
  <thead class="thead-dark ">
    <tr>
      <th>Nome</th>
      <th>Balanço</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.balance %></td>
        <td><%= link_to 'Mostrar Transações', client %></td>
        <td><%= link_to 'Remover', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Cliente', new_client_path , class:"btn btn-success"%>
</div>

