<div class="container">
    <ul class="list-group">
            <h2 class="text-center">Detalhes das Transações<h2>
<h1>Balanço Total:</h1><%= @client.balance %>
<br>
<% @client.transactions.each do |transaction| %>
<br>
<h2><strong> Transação <%=transaction.id %></strong></h2>
<p>
<li class="list-group-item">
  <strong>Tipo transação:</strong>
  <%= transaction.type_transaction %>
</p>
</li>
<li class="list-group-item">
<p>
  <strong>Natureza:</strong>
    <%= transaction.nature %>
</p>
</li>
<li class="list-group-item">
<p>
  <strong>Dono da Loja:</strong>
  <%= transaction.store_owner %>
</p>
</li>
<li class="list-group-item">
<p>
  <strong>Nome da Loja:</strong>
  <%= transaction.store_name %>
</p>
</li>
<li class="list-group-item">
<p>
  <strong>Data:</strong>
  <%= transaction.date %>
</p>
</li>
<li class="list-group-item">
<p>
  <strong>Valor:</strong>
  <%= transaction.value %>
</p>
</li>
<li class="list-group-item">
<p>
  <strong>CPF:</strong>
  <%= transaction.cpf %>
</p>
</li>
<li class="list-group-item">
<p>
  <strong>Cartão:</strong>
  <%= transaction.card %>
</p>
</li>
<li class="list-group-item">
<p>
  <strong>Hora:</strong>
  <%= transaction.hour %>
</p>
</li>


<% end %>

</ul>
<br>
<%= link_to 'Voltar', clients_path , class:"btn btn-primary"%>
<br>
</div>

