<p id="notice"><%= notice %></p>
<div class="container">
    <ul class="list-group">
            <h2 class="text-center">Detalhes das Transações<h2>
<h1>Balanço Total:</h1><%= @client.balance %>
<br>
<% @client.transactions.each do |transaction| %>
<br>
<h2><strong> Transação <%=transaction.id %></strong></h2>
<p>
<li class="list-group-item">
  <strong>Tipo transação:</strong>
  <%= transaction.type_transaction %>
</p>
</li>
<li class="list-group-item">
<p>
  <strong>Nature:</strong>
    <%= transaction.nature %>
</p>
</li>
<li class="list-group-item">
<p>
  <strong>Store owner:</strong>
  <%= transaction.store_owner %>
</p>
</li>
<li class="list-group-item">
<p>
  <strong>Store name:</strong>
  <%= transaction.store_name %>
</p>
</li>
<li class="list-group-item">
<p>
  <strong>Date:</strong>
  <%= transaction.date %>
</p>
</li>
<li class="list-group-item">
<p>
  <strong>Value:</strong>
  <%= transaction.value %>
</p>
</li>
<li class="list-group-item">
<p>
  <strong>Cpf:</strong>
  <%= transaction.cpf %>
</p>
</li>
<li class="list-group-item">
<p>
  <strong>Card:</strong>
  <%= transaction.card %>
</p>
</li>
<li class="list-group-item">
<p>
  <strong>Hour:</strong>
  <%= transaction.hour %>
</p>
</li>


<% end %>

</ul>
<br>
<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Voltar', clients_path %>
</div>

