<p id="notice"><%= notice %></p>

<p>
  <strong>Type transaction:</strong>
  <%= @transaction.type_transaction %>
</p>

<p>
  <strong>Nature:</strong>
  <%= @transaction.nature %>
</p>

<p>
  <strong>Store owner:</strong>
  <%= @transaction.store_owner %>
</p>

<p>
  <strong>Store name:</strong>
  <%= @transaction.store_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>

<p>
  <strong>Value:</strong>
  <%= @transaction.value %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @transaction.cpf %>
</p>

<p>
  <strong>Card:</strong>
  <%= @transaction.card %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @transaction.hour %>
</p>

<p>
  <strong>Client:</strong>
  <%= @transaction.client %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
